{% extends 'app/base_app.html' %}

{% load static %}

{% block content %}
    

    <div  style="background-color: rgb(202, 201, 201); min-height: 50em; padding: 5%">
        <div style="background-color: rgb(220, 220, 220); padding: 3%; box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);">
            <h1>Login</h1>
            <form method="post", action="{% url 'app_login' %}">
                {% csrf_token %}
                <div>
                    <label class="form-label">Username</label><input type="text" class="form-control" name="username"><br/>
                    <label class="form-label">Password</label><input type="password" class="form-control" name="password"><br/>   
                    <div class="col-sm">
                        <input class="btn" type="submit" style="color: white; background-color: rgba(2, 171, 73)">
                    </div>                                        
                </div>   
            </form>
            <div class="row">

            </div>
            <div id="registerBtn" class="d-flex justify-content-start" style="align-content: end; text-align: start;">
            </div>  
        </div>  
        
        <script type="text/babel" src="{% static 'polls/login_page.js' %}" defer></script>   
    </div>
{% endblock %}




