{% extends 'app/base_app.html' %}

{% block content %}

<div  style="background-color: rgb(202, 201, 201); min-height: 50em; padding: 5%">
    <div style="background-color: rgb(220, 220, 220); padding: 3%; box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);">
        <h1>Register</h1>
            <form method="post", action="{% url 'app_register' %}">
                {% csrf_token %}
                <div>
                    <label class="form-label">Email</label><input type="email" class="form-control" name="email"><br/>
                    <label class="form-label">First name</label><input type="text" class="form-control" name="first name"><br/>
                    <label class="form-label">Last name</label><input type="text" class="form-control" name="last name"><br/>
                    <label class="form-label">Username</label><input type="text" class="form-control" name="username"><br/>
                    <label class="form-label">Password</label><input type="password" class="form-control" name="password"><br/>
                    <div class="col-sm">
                        <input type="submit" className="btn" style="color: white; background-color: rgba(2, 171, 73)">
                    </div>            
                </div>    
            </form>
        </div>   
    </div>
{% endblock %}



