{% extends 'app/base_app.html' %}

{% block content %}
    <h1>TodoWise Register</h1>

    <form method="post", action="{% url 'app_register' %}">
        {% csrf_token %}
        Email: <input type="email", name="email"><br/>
        First name: <input type="text", name="first name"><br/>
        Last name: <input type="text", name="last name"><br/>
        Username: <input type="text", name="username"><br/>
        Password: <input type="password", name="password"><br/>
        <input type="submit">
    </form>
{% endblock %}




